 <div class="container" style="min-height:530px !important;">
    <div class="row">
      <div class="col-md-12">
        <div class="container">

          <!-- display success message -->           
         
          <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h1>Hello, world!</h1>
                    <p> Node.js can generate dynamic page content<br/>
                        Node.js can create, open, read, write, delete, and close files on the server <br/>
                        Node.js can collect form data <br/>
                        Node.js can add, delete, modify data in your database</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                  </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>